name: Build Skeleton

on:
  workflow_dispatch:
  repository_dispatch:
    types:
      - build-skeleton

permissions:
  contents: read

jobs:
  build:
    name: Build Skeleton
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      security-events: write
      id-token: write
      attestations: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Build and push image
        uses: ./.github/actions/build-docker-image
        with:
          context: skeleton
          push: true
          primaryTag: ghcr.io/automattic/vip-container-images/skeleton:latest
