name: Build MU Plugins

on:
  push:
    branches:
      - master
    paths:
      - "mu-plugins/**"
      - ".github/workflows/mu-plugins.yml"
      - ".github/actions/build-docker-image/**"
  pull_request:
    paths:
      - "mu-plugins/**"
      - ".github/workflows/mu-plugins.yml"
      - ".github/actions/build-docker-image/**"
  workflow_dispatch:
  repository_dispatch:
    types:
      - build-mu-plugins

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      pull-requests: write
      security-events: write
      id-token: write
      attestations: write
      artifact-metadata: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Build and push image
        uses: ./.github/actions/build-docker-image
        with:
          context: mu-plugins
          push: ${{ github.base_ref == null }}
          primaryTag: ghcr.io/automattic/vip-container-images/mu-plugins:0.1
          tags: ghcr.io/automattic/vip-container-images/mu-plugins:latest
          scan: false
