name: Build PHP Helpers image

on:
  push:
    branches:
      - master
    paths:
      - "php-helpers/**"
      - ".github/workflows/php-helpers.yml"
  pull_request:
    branches:
      - master
    paths:
      - "php-helpers/**"
      - ".github/workflows/php-helpers.yml"
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check out the source code
        uses: actions/checkout@v6

      - name: Set up Docker
        uses: docker/setup-docker-action@e61617a16c407a86262fb923c35a616ddbe070b3 # v4.6.0
        with:
          daemon-config: |
            {
              "features": {
                "containerd-snapshotter": true
              }
            }

      - name: Login to DockerHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ github.event_name != 'pull_request' }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Build and push
        uses: docker/bake-action@3acf805d94d93a86cce4ca44798a76464a75b88c # v6.9.0
        with:
          source: .
          workdir: php-helpers
          files: docker-bake.hcl
          push: ${{ github.event_name != 'pull_request' }}
          no-cache: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'schedule' }}
          set: |
            *.output=type=docker,rewrite-timestamp=true
            *.output=type=image,push=${{ github.base_ref == null }},rewrite-timestamp=true,name=ghcr.io/automattic/vip-container-images/php-helpers:latest
        env:
          SOURCE_DATE_EPOCH: 0
