name: Build Skeleton

on:
  push:
    branches:
      - master
    paths:
      - "skeleton/**"
      - ".github/workflows/skeleton.yml"
      - ".github/actions/build-docker-image/**"
  pull_request:
    paths:
      - "skeleton/**"
      - ".github/workflows/skeleton.yml"
      - ".github/actions/build-docker-image/**"
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      pull-requests: write
      security-events: write
      id-token: write
      attestations: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Build and push image
        uses: ./.github/actions/build-docker-image
        with:
          context: skeleton
          push: ${{ github.base_ref == null }}
          primaryTag: ghcr.io/automattic/vip-container-images/skeleton:latest
          scan: false
