name: Stale monitor

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  stale:
    name: Stale
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: Automattic/vip-actions/stale@dfb03933cc5a3ca35505c5ff3a4a04a24bab2669 # trunk
