name: Build traefik with OpenSSL

on:
  push:
    branches:
      - master
    paths:
      - "traefik/**"
      - ".github/workflows/traefik.yml"
      - ".github/actions/build-docker-image/**"
  pull_request:
    paths:
      - "traefik/**"
      - ".github/workflows/traefik.yml"
      - ".github/actions/build-docker-image/**"
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  push_to_registry:
    name: Build Traefik with OpenSSL
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      pull-requests: write
      security-events: write
      id-token: write
      attestations: write
      artifact-metadata: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Get image version
        id: getversion
        run: echo "version=$(head -n 1 traefik/Dockerfile | sed -r -e 's/^([^:]+):([^ @$-]+).*/\2/')" >> "${GITHUB_OUTPUT}"

      - name: Build and push image
        uses: ./.github/actions/build-docker-image
        with:
          context: traefik
          file: traefik/Dockerfile
          push: ${{ github.base_ref == null }}
          cache-from: type=gha,scope=traefik
          cache-to: type=gha,mode=max,scope=traefik
          no-cache: ${{ github.event_name == 'workflow_dispatch' }}
          primaryTag: ghcr.io/automattic/vip-container-images/traefik_openssl:v3
          tags: ghcr.io/automattic/vip-container-images/traefik_openssl:${{ steps.getversion.outputs.version }}
